@import-normalize; /* bring in normalize.css styles */
body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.629),
      rgba(91, 91, 91, 0.371)
    ),
    url('./imgages//movie-background-collage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: rgb(215, 215, 215);
  padding: 4px;
  border-radius: 6px;
}

a:visited {
  color: rgba(116, 116, 116, 0.6);
}
li {
  list-style: none;
  align-items: center;
  padding: 3px;
}

.Cast-Reviews {
  list-style-image: url(./imgages/movie-dot.svg);
}

img {
  max-width: 200px;
}
h2,
h3,
p {
  margin: 0px;
  margin-bottom: 5px;
}
ul {
  padding: 0px;
}
